<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="ApiUrl" value="http://localhost/Starter.API" />
  <add key="ResourceUrl" value="/cat" />
  </appSettings>
  <connectionStrings>
    <add name="DatabaseConnection" connectionString="Data Source=localhost;Initial Catalog=Starter.Stage2;Integrated Security=True;" />
  </connectionStrings>
</configuration>